<mat-tab-group mat-align-tabs="center" #tabGroup>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../assets/img/4.jpg" class="card-img-top" alt="Card Image">
            <!-- <span style="text-align: center;">Bci Pagos con tasa preferencial</span> -->
        </ng-template>
        <div class="container-tab">
            <img src="../../../assets/img/BciOagos.png" class="card-img-top" alt="Card Image">
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../assets/img/1.jpg" class="card-img-top" alt="Card Image">
            <!-- <span>Cuenta corriente para tu empresa Gratis</span> -->
        </ng-template>
        <div class="container-tab">
            <div class="row">
                <div class="col align-self-center text-center text-digital-activation">
                    <h2 class="circles-heading-center text-center h2 h2-lg color-blue-normal">Activa en línea</h2>
                    <h2 class="circles-heading-center text-center h2 h2-lg">¡Activa en línea tu cuenta con Banco Bci y vive la experiencia de tener los productos y servicios del Banco en Bci!</h2>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../assets/img/2.jpg" class="card-img-top" alt="Card Image">
            <!-- <span>Activación 100% digital</span> -->
        </ng-template>
        <div class="container-tab">
            <div class="row">
                <div class="col align-self-center text-center text-digital-activation">
                    <h2 class="circles-heading-center text-center h2 h2-lg color-blue-normal">Tu plan con Bci Pagos</h2>
                    <h2 class="circles-heading-center text-center h2 h2-lg">Al contratar tu plan con Bci Pagos puedes optar por la cuenta corriente empresarios</h2>
                    <h2 class="display-3 display-3-lg font-weight-bold mt-n2" style="color:#BBC5CA;">100% gratis.</h2>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../assets/img/5.jpg" class="card-img-top" alt="">
            <!-- <span>Cuota gratis en tu seguro automotriz Bci</span> -->
        </ng-template>
        <div class="container-tab">
            <div class="row">
                <div class="col align-self-center text-center text-digital-activation">
                    <h2 class="circles-heading-center text-center h2 h2-lg color-blue-normal">Tenemos un beneficio exclusivo para ti.</h2>
                    <h2 class="circles-heading-center text-center h2 h2-lg">Los nuevos clientes de la Banca Digital que contraten su Seguro Automotriz particular o comercial de Bci Seguros con Bci Corredores de Seguros, se llevan:</h2>

                    <div class="row">
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Beneficios las 24 horas del día, los 365 días del año</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Coberturas por daños materiales y daños a terceros</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Coberturas por daños materiales y daños a terceros</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Indemnización 0 km</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Taller de marca</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Vehículo de reemplazo</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Servicio de grúa</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Taxi S.O.S.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Chofer de reemplazo</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 order-1">
                            <div class="rounded-md shadow-normal-hover p-3 d-flex justify-content-md-start align-items-center h-110 mb-4">
                                <p class="mb-0">Y mucho más</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>